.main-nav {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.main-nav:hover {
  box-shadow: 0 5px 7px 3px orange;
}

.head-logo-img {
  margin: 5px;
  padding: 0 6% 2% 6%;
  overflow: hidden;
  position: relative;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  min-width: 100px;
  margin: 0 10px;
  text-transform: uppercase;
}

.active-nav {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  background: orange;
  border-radius: 5%;
  padding: 3px;
}

.link:hover {
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 0 7px 3px orange;
}
