<nav class="navbar navbar-expand-lg navbar-dark my-navbar main-nav">
    <div class="head-logo-img">
      <a class="navbar-brand font-italic" routerLink="/">
        <img src="assets/images/logo.jpg" alt="Auto-Shop" class="logo"/>
      </a>
    </div>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item link" routerLinkActive="active active-nav" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item link" routerLinkActive="active active-nav">
        <a routerLink="/audi/catalog" class="nav-link">Audi</a>
      </li>
      <li class="nav-item link" routerLinkActive="active active-nav">
        <a routerLink="/bmw/catalog" class="nav-link">BMW</a>
      </li>
      <li class="nav-item link" routerLinkActive="active active-nav">
        <a routerLink="/mercedes/catalog" class="nav-link">Mercedes</a>
      </li>
    </ul>
  </div>
</nav>
