<div class="m-5">
  <div>
    <h2 class="text-center p-3 text-white font-italic">Форма для заполнения</h2>
    <p class="text-white text-center p-2">Заполните форму вам сообщат о предстоящей презитации данного автомобиля</p>
  </div>
  <div><form (ngSubmit)="onClick()">
    <div class="form">
      <div class="col-sm-12 col-md-6 m-auto p-3">
        <label for="inputName" class="text-white">Имя</label>
        <input type="text" class="form-control" id="inputName" placeholder="Василий" #inputName/>
      </div>
      <div class="col-sm-12 col-md-6 m-auto p-3">
        <label for="inputLastName" class="text-white">Фамилия</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Пупкин" #inputLastName/>
      </div>
      <div class="col-sm-12 col-md-6 m-auto p-3">
        <label for="inputEmail" class="text-white">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="vasy.pupkin@gmail.com" #inputEmail/>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 m-auto p-5">
      <button type="submit" class="btn btn-success col-12">Отправить</button>
    </div>
  </form>
  </div>
</div>
