.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 15px;
  flex: 1 1 auto;
}

.footer {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}
