html,body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: white;
  background: black;
}

.main-img {
  padding: 0 0 55% 0;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
