<div class="head-img ">
  <img src="{{ img }}" class="img" alt="icon">
</div>
<div class="container-fluid">
  <div class="mt-5 mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Как правильно купить автомобиль в автосалоне</h3>
    <p>Права получены, деньги собраны и даже модель авто подобрана и рассмотрена со всех сторон в самых разных комплектациях. Осталось только купить. И здесь никому не придет в голову искать для этих целей частника и пытаться сэкономить. Как правильно купить машину в автосалоне? Рассмотрим все тонкости – от выбора дилера до документов, которые обязательно нужно проверить после приобретения авто.</p>
  </div>
  <div class="mb-5  text-white">
    <h3 class="m-4 h1 text-center font-italic">Преимущества покупки в автосалоне</h3>
    <p>Автосалон автосалону рознь. На территории России действуют как официальные дилеры, так и частные. Первые – это салоны, работающие по «белой схеме». Другими словами – они предоставляют клиенту полный спектр услуг, включая гарантийное и постгарантийное обслуживание. Частные автосалоны работают по «серой схеме». У них можно купить редкую модель, которая не предназначена для российского рынка, однако здесь нет никакого гарантийного обслуживания. Что выбрать – решается в каждом случае индивидуально и зависит от потребностей.</p>
    <div class="mb-5">
      <p>Преимущества покупки в «белом» автосалоне:</p>
      <ol>
        <li class="p-2">безопасность сделки;</li>
        <li class="p-2">юридическая чистота, что важно для б/у авто;</li>
        <li class="p-2">комфорт совершения сделки;</li>
        <li class="p-2">большой выбор;</li>
        <li class="p-2">идеальное техническое состояние авто;</li>
        <li class="p-2">быстрая доставка, если машина заказывалась;</li>
        <li class="p-2">комплектация в соответствие с заданными параметрами.</li>
      </ol>
    </div>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Выбор дилера</h3>
    <p>Большинство обращает внимание на географическое положение салона. И это не случайно. Приехать сюда придется несколько раз. Выбирая дилера, обратите внимание на следующие моменты:</p>
    <ol>
      <li class="p-2"><b>Ассортимент.</b> Насколько он широк, как долго придется ждать авто, если нужной модификации нет и ее придется заказывать? Каковы условия договора при условии предзаказа, остается ли цена фиксированной? На эти моменты всегда нужно обращать внимание.</li>
      <li class="p-2"><b>Персонал.</b> Менеджеры должны владеть информацией на отлично. Если простой вопрос ставит продавца в тупик, а по каким-то моментам информация явно умалчивается или приукрашивается, есть повод задуматься.</li>
      <li class="p-2"><b>Кредит.</b> Он есть во всех автосалонах, однако немногие предлагают специальные условия, более выгодные, чем у других.</li>
      <li class="p-2"><b>Гарантия</b> и сервис. До момента совершения сделки все менеджеры предельно услужливы, а вот после этого не горят желанием помогать клиенту. Если в интернете есть отзывы, свидетельствующие о такой тенденции в конкретном салоне, лучше в него не обращаться.</li>
      <li class="p-2"><b>Допуслуги.</b> Полезная вещь, но только в случае, если их не навязывают буквально в принудительном порядке. К дополнительным услугам относятся страхование, сопровождение сделки, помощь в оформлении документации.</li>
    </ol>
    <p>Если в ближайшем к месту проживания автосалоне что-то смущает – продавец пытается навязать определенную модель или ведет себе по-хамски – выбирать точку продаж приходится совершенно по иным критериям.</p>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Проверка дилера на официальном сайте производителя</h3>
    <p>Здесь все просто. Зайдите на официальный сайт автомобиля выбранной марки, внимательно его изучите, а затем найдите свой город. В нем будут указаны адреса и телефоны автосалонов, которые являются официальными дилерами. Вероятность нарваться на мошенников при таком подходе стремится к нулю. Производители проверяют информацию по каждому дилеру. Однако не стоит упускать из виду человеческий фактор.</p>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Отзывы покупателей</h3>
    <p>В век информационных технологий, как это ни странно, сарафанное радио остается наиболее правильным способом получения информации. Сюда же относятся отзывы, которые можно оставить в интернете в адрес того или иного дилера. Здесь нужно помнить, что похвалить автосалон или конкретного менеджера большинству покупателей откровенно лень, зато написать пару абзацев, пылая праведным гневом – это пожалуйста. Ориентируясь на чужой опыт, нужно фильтровать получаемую информацию и обращать внимание на сам текст. Часто проводятся кампании по дискредитации конкурентов, заказываются блоки отрицательных отзывов. Понять, что перед тобой именно они, несложно. Заказные отзывы в 95% случаев малоинформативны, не содержат каких-то фактов или цифр. В остальном мнение покупателей, если оно реальное, а не сочиненное – это хорошее подспорье в выборе места для покупки машины.</p>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Тест-драйв</h3>
    <p>Поможет почувствовать, как ведет себя понравившаяся машина на дороге. В некоторых ситуациях покупателю не позволят сесть за руль – например, он находится в чрезмерно возбужденном состоянии. В этом случае управлять будет менеджер, а будущий владелец просто сядет в салон, расслабится и оценит свои ощущения. У большинства дилеров для тест-драйва предназначено несколько автомобилей в разных комплектациях. Попробуйте и минималку, и ТОП, почувствуйте, в чем разница. Если есть выбор между коробками передач (автомат или механика), поездите на разных машинах. Многие пугаются автомата, если долго ездили на механике. Тест-драйв как раз и предназначен для того, чтобы понять, что лучше, и стоит ли покупать машину в такой комплектации.</p>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Договор купли-продажи</h3>
    <p>У автодилеров типовой договор купли-продажи. Внести в него какие-то свои пункты не представляется возможным. При подписании рекомендуется внимательно, с лупой, прочитать весь мелкий шрифт. Обязательно обратите внимание на:</p>
    <ol>
      <li class="p-2">сроки поставки;</li>
      <li class="p-2">размеры аванса;</li>
      <li class="p-2">возможность возврата;</li>
      <li class="p-2">полную модификацию модели.</li>
    </ol>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Оплата и первоначальный взнос</h3>
    <p>Первоначальный взнос у каждого дилера свой. Это некая гарантия, что заказанный автомобиль будет выкуплен. Первоначальный взнос не возвращается.</p>
    <p>Другие дополнительные финансовые траты при покупке автомобиля:</p>
    <ol>
      <li class="p-2">автостраховка;</li>
      <li class="p-2">госпошлина (оформление в ГИБДД);</li>
      <li class="p-2">техническое обслуживание;</li>
      <li class="p-2">допинструмент;</li>
      <li class="p-2">замена колесных дисков, установка допоборудования;</li>
      <li class="p-2">покупка аптечки.</li>
    </ol>
    <p>И это далеко не полный список.</p>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Прием машины и документы</h3>
    <p>Забирая машину из салона, проверьте:</p>
    <ol>
      <li class="p-2">паспорт транспортного средства (ПТС), в нем должна стоять отметка о ее владельце;</li>
      <li class="p-2">кузов на вмятины;</li>
      <li class="p-2">уровень всех жидкостей (масло, тормозная, бензин, охлаждающая);</li>
      <li class="p-2">комплектность двигателя и ходовой;</li>
      <li class="p-2">номера основных агрегатов и сверьте их с техпаспортом;</li>
      <li class="p-2">работу двигателя, допоборудования, фар, ходовых огней и другой светотехники;</li>
      <li class="p-2">комплектность – если чего-то из того, что обязательно должно быть, не хватает, автосалон обязан дать расписку,</li>
      <li class="p-2">в которой указать, в какие сроки он обязуется это предоставить.</li>
    </ol>
    <p>После проверки можно забрать документы. В итоге, отправляясь домой на новом автомобиле, нужно иметь, кроме ПТС:</p>
    <ol>
      <li class="p-2">полис ОСАГО;</li>
      <li class="p-2">сервисную книжку (заполненную);</li>
      <li class="p-2">документ гарантийной сертификации;</li>
      <li class="p-2">книгу описания и эксплуатации автомобиля.</li>
    </ol>
  </div>
  <div class="mb-5 text-white">
    <h3 class="m-4 h1 text-center font-italic">Итог</h3>
    <p>Отметим самые важные вехи при покупке автомобиля:</p>
    <ol>
      <li class="p-2">приобретать авто нужно только у официального дилера;</li>
      <li class="p-2">не стоит вестись на громкие заявления менеджера – настаивайте на своем и, если какая-то опция не нужна, но ее усиленно навязывают, твердо откажитесь от нее;</li>
      <li class="p-2">правильно выбирайте комплектацию – если не планируется эксплуатировать машину в условиях бездорожья, нет смысла выбирать внедорожник;</li>
      <li class="p-2">отправляясь домой на новом авто, подробно изучите все его самые важные системы, чтобы по дороге не возникла внештатная ситуация, которая может стать опасной и для водителя, и для других участников дорожного движения.</li>
    </ol>
    <p>Собираетесь купить автомобиль? Не затягивайте! Возможно именно сейчас та самая модель ждет вас в соседнем автосалоне.</p>
  </div>
</div>

