.head-img {
  margin: 0 -15px 0 -15px;
  padding: 0 0 35% 0;
  overflow: hidden;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
