<div class="mb-3">
  <div class="d-flex flex-column border border-dark col-10 rounded m-auto p-3 bg-dark">
    <div class="main-img">
      <img src="{{ car.image }}" class="image m-auto rounded" alt="{{ car.name }}">
    </div>
    <h2 class="text-center mt-3 text-white font-italic border-bottom p-2">{{ car.brand }} - {{ car.name }}</h2>
    <p class="text-center text-white pt-2">{{ car.description }}</p>
    <button class="btn btn-warning" (click)="onClick()">Узнать больше</button>
  </div>
</div>
